@use "sass:math";



//@import "settings/all";
//@import "settings/colors";
//@import "settings/fonts";
//@import "settings/icons";
//@import "settings/mixins";

@import "generic/reset";
//@import "generic/grid";
//@import "generic/global";
//@import "generic/buttons";

//@import "elements/base";
//@import "elements/header";
//@import "elements/intro";
//@import "elements/footer";



//Colors: 
$color-blue-1: #08A6E4;
$color-blue-2: #07ACE6;
$color-blue-3: #07ACE629;
$color-green-1: #55DFB4;
$color-red-1: #FB3B64;
$color-red-2: #EB476E;
$color-red-3: #FF091129;
$color-red-4: #F9043629;
$color-black-1: #000000;
$color-black-2: #13253B;
$color-grey-1: #707070;
$color-grey-2: #95989A;
$color-grey-3: #A5A5A5;
$color-grey-4: #00000029;
$color-grey-5: #E8E9ED;
$color-white-1: #FFFFFF;
$color-white-2: #F7F7F7;

//Fonts: 
$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

//WIDTH:
$width-tablet: 43.75em; // 700px
$width-tablet-2: 34.375em; // 550px
$width-desktop: 64em; // 1024px
$width-desktop-2: 111.25em; // 1780px

$max-icon: 3;
$max-img: 3;


//Generals: 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1352px;
    //min-width: 375px; //nebo 23.4em
    width: 100%;
    margin: 0 auto;

    @media (min-width: 84.5em) {
        //1352px
        width: 100%;
        padding: 0 15px;
    }
}

a {
    text-decoration: none;
}


//GRID: 
*[class^="col-"] {
    //min-height: 3em;
    //background-color: violet;
    width: 100%;
}

$columns: 12;
$base-column-width: math.div(100%, 12);

.container {
    max-width: 1352px;
    //min-width: 375px; //nebo 23.4em
    width: 100%;
    margin: 0 auto;

    @media (min-width: 84.5em) {
        // 1352px
        //1352px
        width: 100%;
        padding: 0 15px;
    }
}

@media (min-width: 23.43em) {
    //375px

    .row {
        display: flex;
        //gap: 0.5em;
    }

    @for $i from 1 through $columns {
        .col-#{$i} {
            width: $base-column-width * $i;
        }
    }
}



//------------------------HEADER:----------------------
//HEADER - Navigation: 
.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.4em; //70px
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);

    .logo {
        font-family: $font-open-sans;
        font-size: 32px;
        color: $color-blue-1;

        &:hover {
            cursor: pointer;
        }
    }

    .nav {
        display: none;
    }

    @media (min-width: 37.5em) {

        //600px 
        .navigation {
            //justify-content: space-between;
        }

        .nav-container {
            display: flex;


            ul {

                li {
                    margin: 14px 0 14px 25px;
                    text-decoration: none;

                    a {
                        text-decoration: none;
                        font-family: $font-open-sans;
                        color: $color-black-1;
                        font-size: 11px;
                    }
                }

            }
        }


    }

}


//--------------------MAIN------------------------
//MAIN - Section 1:
.section-1-container {

    .section-1-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6.25em; // 100px;

        h1 {
            text-align: center;
            font-family: $font-raleway;
            font-size: 35px;
            font-weight: 500;
        }

        p {
            text-align: center;
            font-family: $font-open-sans;
            font-weight: 500;
        }

        a {
            text-align: center;
            text-decoration: none;
            margin-top: 1.75em; // 28px
            margin-bottom: 1em;
            padding: 1.4em 5.75em; // 22px 92px
            background-color: $color-blue-1;
            border-radius: 2.5em; // 0px
            font-family: $font-open-sans;
            font-weight: bold;
            color: white;

            &:hover {
                cursor: pointer;
            }

            @media (min-width: $width-tablet) {
                // 700px
                padding: 1.4em 9.8em;
            }
        }

    }

}

//MAIN - Section 1 - Image: 
.section-1-image {
    background-image: url(../images/Background@2x.png);
    width: 100vw;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (min-width: $width-tablet) {
        // 700px
        height: 40vh;
    }

    @media (min-width: $width-desktop) {
        // 1024px
        height: 50vh;
    }

    @media (min-width: $width-desktop-2) {
        // 1780px
        height: 60vh;
    }

}


//MAIN - Section 2: 
.section-2-statistik-title h2 {
    text-align: center;
    font-family: $font-raleway;
    font-size: 1.875em; //30px
    font-weight: 500;
}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2-statistik-icons {
    //max-width: 800px; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0;

    @media (min-width: $width-tablet-2) {
        // 550 px
        flex-direction: row;
        max-width: 40.625em; // 650px;
    }
}


//MIXIN for background icons:
@mixin iconFrame ($top, $left, $color) {
    content: "";
    position: absolute;
    width: 63px;
    height: 63px;
    top: $top;
    left: $left;
    border: none;
    border-radius: 50%;
    background-color: $color;

    @content;
}

//End of MIXIN -----------------------------------

@for $i from 1 through $max-icon {
    .icon-#{$i} {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .icon-frame {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            position: relative;
        }

        .icon-1-frame::after {
            @include iconFrame(0.4375em, -0.9375em, $color-red-1); // 7px -15px
        }

        .icon-2-frame::after {
            @include iconFrame(0.4375em, -0.9375em, $color-blue-1); // 7px -15px
        }

        .icon-3-frame::after {
            @include iconFrame(0.4375em, -0.9375em, $color-green-1); // 7px -15px
        }

        img {
            position: relative;
            z-index: 1;
        }

        span {
            font-family: $font-raleway;
            font-size: 1.25em; // 20px
            font-weight: 900;
            margin: 1em 0; // 16px
            flex-grow: 1;
            letter-spacing: 0.375em; // 6px
        }

        p {
            font-family: $font-raleway;
            font-size: 1.0625em; // 17px
            color: $color-grey-3;
            margin-bottom: 2em;
        }

    }

}


//MAIN - Section 3:

.section-3-benefits-bg {
    background-color: $color-white-2;
}

.container-3 {
    max-width: 70.25em; // 1124px
    width: 100%;
}


/*
@mixin backgroundImage($top-img, $left-img, $color-img) { //POKUS o nastavení pozadí obrázků
    content: "";
    display: block;
    position: absolute;
    width: 180px;
    height: 180px;
    top: $top-img;
    left: $left-img;
    border: none;
    border-radius: 50%;
    background-color: $color-img;
    transform: rotate(45deg);

    @content;
}*/

@for $e from 1 through $max-img {
    .section-3-bebefits-#{$e}-row {
        background-color: $color-white-1;
        border-radius: 0.3125em; // 5px
        border: 0.0625em solid #E8E9ED; // 1px
        padding: 1.375em; // 22px
        margin: 2.5625em 1.875em; // 41px 30px

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: $width-desktop) {
            flex-direction: row;
           
            .section-3-bebefits-1-row { //POKUS o přehození textu a obrázku na druhou stranu !!!
                flex-direction: row-reverse;
            }
        }
        
        @for $a from 1 through $max-img {
            .section-3-bebefits-#{$a}-row-text {
                h2 {
                    font-family: $font-raleway;
                    font-size: 1.875em; // 30px
                    font-weight: 500;
                    margin: 1em 0;
                }

                p {
                    font-family: $font-open-sans;
                    font-size: 0.875em; // 14px

                }
            }
        }

        @for $b from 1 through $max-img {
            .section-3-bebefits-#{$b}-row-image {
                max-width: 170px;
                width: 100%;
                position: relative;

                @media (min-width: 500px) {
                    max-width: 220px;
                }

                @media (min-width: 600px) {
                    max-width: 270px;
                }

                @media (min-width: 700px) {
                    max-width: 350px;
                }

                img {
                    width: 100%;
                    z-index: 1;
                }
            }
            /*
            .section-3-bebefits-1-row {
                @include backgroundImage(10px, 10px, $color-red-1);

            }*/
        }

    }
}